.box{
    width: 200px;
    height: 200px;
    background-color: wheat;
    border: 1px solid black;
    transition: all 2s;
}

.box:hover{
    transform: rotate(45deg);
}

.box1{
    width: 200px;
    height: 200px;
    background-color: wheat;
    border: 1px solid black;
    transition: all 2s;
}

.box1:hover{
    transform: scale(1.5);
}

.box2{
    width: 200px;
    height: 200px;
    background-color: wheat;
    border: 1px solid black;
    transition: all 2s;
}

.box2:hover{
    transform: scale(0.5);
}

.box3{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.box4{
    width: 100px;
    height: 100px;
    background-color: wheat;
    border: 1px solid black;
    transition: all 2s;
}

.box4:hover{
    transform: translateX(100px);
}

.box6{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    position: relative;
}

.box7{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
}

box7:hover{
    position: static;
}

.box8{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
}

.box9{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
}

.box10{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
}

.box10:hover .box8{
    position:static;
    transform: translateY(-250px);
}

.box11{
    width: 500px;
    height: 500px;
    background-image: url('https://png.pngtree.com/png-clipart/20220624/ourmid/pngtree-fish-sea-fish-fish-png-image_5318367.png');
    background-position: center;
}

.box11:hover{
    
}